*{
  margin: 0;
  padding: 0;
}

.mainItemContainer{
  width: 1200px;
  margin: 0 auto;
}

.itemList{
width: 1200px;
margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 

  margin-top: 0px;

}
.foodItem-container{
  width: 580px;
  display: flex;
  gap:20px;
   margin-bottom: 30px;
   
  }

.titleBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.imgContainer{
  width: 260px;
  height: 190px;

}
.imgContainer img{
 height: inherit;
 width: inherit;
 border:2px solid orange;
 border-radius: 6px;
}
.allDescription{
  width: 300px;
}


.descriptionFood{
  text-align:justify;  
  text-justify:auto;
  color: grey;
 
}

.titleOfMeal{
  font-weight: 600;
  text-transform: capitalize;
}
.priceOfMeal{
  color: orange;
}

.btnMenuBar{
  padding: 8px 15px;
  color: orange;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 25px;
  
}
.btnMenuBar:hover{
  border: 1px solid skyblue;

}

.btnmenu-Container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

ul li{
  font-size: 30px;
}


.toggleBtn{
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: inline;
}